.ant-menu-inline {
  svg + span {
    margin-inline-start: 4px;
  }
}

.ant-table-thead {
  .sub-title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.ant-upload {
  width: 100% !important;
}
